name: Build & Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  call-workflow:
    uses: ./.github/workflows/build_and_publish_template.yml
    permissions:
      contents: read
      id-token: write
    with:
      pypi_project_url: ''
      run_tests_with_bazel: false
      is_nightly: false
      is_ci_tests: true